body{
padding:0;
margin:0;
background:url(../img/vazan11a.jpg);
}
.heads{
height:200px;
background:url(../img/zelflofon01.jpg);
}

.pogoda{
margin-right:-300px;	
margin-top:-1100px;
}

.img{
width:100px;	
	
}

.heads h1{
float:right;	
}

.regs{
color:olive;	
}
.ent{
margin-left:20px;	
color:olive;	
}

.tov{
margin-left:20px;	
color:olive;		
}

.strip{
padding-top:2px;
padding-bottom:0px;
height:20px;
background:mintcream;	
}

.topmenu{
display:-moz-box;
display:-webkit-flex;
display:flex;
text-align:center;
width:100%;
margin:0 outo;
flex-drection:row;
}
.topmenu a{
-moz-box-flex:1;
-webkit-flex:1;
flex:1;
display:block;
font-size:14px;
padding:10px;
color:white;
background:olive;
text-decoration:none;
border-right:1px solid white;
}

.topmenu a:hover{
 background:black;
 color:orange;
}

.leftmenu{
background:#ccf;
box-shudul:1px 1px 1px black;
border-radius: 6px;
border:solid 1px gray;
}

.footer{
text-align:center;
padding-top:60px;
padding-bottom:0px;
background:orange;
}

.log{
color:olive;	
}
.cab{
margin-left:20px;
color:olive;	
}
.pic{
width:100px;
}

.modal-window{
position:fixed;
top:150px;
width:500px;
margin-left:-250px;
padding:10px;
border:solid 1px 1px block;
border-radius:10px;
background:white;
left:50%;
}

#jquery-overlay{
height:100%;
width:100%;
position:fixed;
top:0;
left:0;
background:block;
opacity:0.7;
}

.model-close-btn{
position:absolute;
top:1px;
right:1px;
margin:0;
padding:0;
text-decoration:none;
color:red;
font-size:18px;
}

.model-close-btn:before{
position:relative;
top:-1px;
content:"Закрыть";
font-size:13px;
}